body{
    background: #fcec0c ;
  }
  #bio{
    font-family: Arial, Helvetica, sans-serif;
  }
  .name{
    font-family: helvetica;
  }
  .highlighted-info{
    text-decoration: underline;
    font-weight: bold;
  }
  ul{
    line-height: 40px;
  }
  #skill1{
    font-size: 0.75em;
  }
  #skill2{
    font-size: 1.25em;
  }
  #skill3{
    font-size: 1.5em;
    font-weight: bold;
  }